* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: greenyellow !important; }

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: #f2f2f2; }
  body h1 {
    color: black; }
  body p {
    color: black; }

body.dark {
  background: black; }
  body.dark h1,
  body.dark h2 {
    color: yellow; }
  body.dark p, body.dark span {
    color: #EEEEEE; }
  body.dark .form-control {
    background-color: #222831; }

h1,
h2,
h3 {
  font-family: 'Bangers', cursive; }

.navbar {
  color: black; }
  .navbar a {
    color: grey;
    text-decoration: none; }

footer {
  padding: 40px 0 40px; }

div#text {
  color: yellow;
  width: 0px;
  height: 2em;
  white-space: nowrap;
  overflow: hidden; }

.darkModeSwitch {
  background: greenyellow;
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between; }

.darkModeSwitch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #fff;
  background: none; }

.darkModeSwitch::after {
  display: block;
  background: #fffbf5;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 3rem;
  transition: all .5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  content: ""; }

.darkModeSwitch.active {
  background: yellow; }

.darkModeSwitch.active::after {
  left: unset;
  right: 0; }

.usuario {
  display: flex;
  justify-content: center; }

#serviceCart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #serviceCart .blocky {
    padding: 1.5% 5%; }

.shop-item {
  margin: 30px; }

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  margin-bottom: 15px; }

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px; }

.shop-item-price {
  flex-grow: 1;
  color: #333; }

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.shop-item-button {
  color: whitesmoke; }

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
  text-align: center; }

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px; }

.cart-row {
  display: flex; }

.cart-item {
  width: 30%; }

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333; }

.cart-quantity {
  width: 35%; }

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em; }

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px; }

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold; }

.btn-danger:hover {
  background-color: #CC4C4C; }

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px; }

.cart-row:last-child {
  border-bottom: 1px solid black; }

.cart-row:last-child .cart-column {
  border: none; }

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px; }

.cart-total-title {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  margin-right: 20px; }

.cart-total-price {
  color: #333;
  font-size: 1.1em; }

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1em; }

footer {
  padding: 1.5% 5%; }
  footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: center; }
    footer ul li {
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      list-style-type: none;
      margin-right: 20px;
      line-height: 1.5rem;
      font-size: 32px;
      height: 32px;
      width: 32px; }
      footer ul li a {
        text-decoration: none; }
