@import "color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: greenyellow !important;
    }
}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: #f2f2f2;

    h1 {
        color: black;
    }

    p {
        color: black;
    }
}

body.dark {
    background: black;

    h1 {
        color: yellow;
    }

    p {
        color: grey;
    }

    .sun {
        background-color: white;
        left: 80%;
        bottom: 400px;
    }
}

h1,
h2,
h3 {
    font-family: 'Bangers', cursive;
}

.navbar {
    color: black;

    a {
        color: grey;
        text-decoration: none;
    }
}

div#text {
    color: yellow;
    width: 0px;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.darkModeSwitch {
    background: greenyellow;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.darkModeSwitch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

.darkModeSwitch::after {
    display: block;
    background: #fffbf5;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    content: "";
}

.darkModeSwitch.active {
    background: yellow;
}

.darkModeSwitch.active::after {
    left: unset;
    right: 0;
}
