@import "color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: $bg-dark;
    font-family: sans-serif;
}

h1 {
    color: aqua;
}
