@import "color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: black;

}

h1 {
    color: yellow;
    font-family: 'Bangers', cursive;
}


.navbar {
    color: black;

    a {
        color: grey;
        text-decoration: none;
    }
}

div#text { 
    color: yellow;
    width: 0px; 
    height: 2em; 
    white-space: nowrap; 
    overflow: hidden;  
}